.idea/inspectionProfiles/profiles_settings.xml
.idea/markdown-navigator/profiles_settings.xml
.idea/treehouse_battleships.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
*.xml
*.zip
primary_Battleship.png
*.pyc
.idea/markdown-navigator/profiles_settings.xml___jb_tmp___
Sketch001\.tif

validation_test_script\.py

Sketch\.png

test\.py

validate_guess_test_script\.py
